/* Master Styles* */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Mainbody styles */
.mainbody {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.information h1 {
    text-align: center;
}

.carousel-container {
    width: 60%;
    margin: auto;
    border: solid 5px black;
}

.carousel-slide {
    display: flex;
    width: 50%;
    height: 500px;
}

.carousel-slide {
    height: 600px;
    width: 100px;
}

.information a{
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
    font-size: x-large;
}

.information a:hover{
    border-bottom: none;
}