/* Master Styles* */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3.36%;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px; /* Remove px */
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px; /* Remove px */
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.left-side {
  cursor: pointer;
  text-transform: uppercase;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Mainbody styles */

.mainbody {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.info h1 {
    text-align: center;
}

.info h2 {
    text-align: center;
}

.bike a{
    color: black;
    text-decoration: none;
}

.bike a {
    border-bottom: 1px solid black;
    transition: border-bottom 0.5s;
}

.bike a:hover {
    border-bottom: 1px solid transparent;
}
