html body {
    height: 100%;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    height: 50%;
    box-sizing: border-box;
    background-color: black;
}

.container{
    position: relative;
    display: grid;
    place-items: center;
}

img{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}


#heading {
    position: absolute;
    font-size: 400%;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(238, 126, 34);
    border-bottom: solid 3px rgb(238, 126, 34);
    text-align: center;
}